@import 'mixins';
@import 'variables';

h1 {font-size: $type1;}
h2 {font-size: $type2;}
h3 {font-size: $type3;}
h4 {font-size: $type4;}	
body {
	font-family: $type;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

// body { background-color: }
// svg { margin: 20px; background: none; float: left}
// svg:nth-child(6n) { clear: left }

.time { font-size: 30pt; color: #fff; position: absolute; top: 0; right: 10px}